.navigation ul{
    display: flex;
    list-style: none;
}

.navigation a{
    color: blanchedalmond;
    text-decoration: none;
    padding: 18px;
    box-sizing: border-box;
}

.navigation a:hover{
    border-bottom: 4px solid royalblue;
    background-color: #723f6e5c;
}
.Active{
    border-bottom: 4px solid royalblue;
    background-color: #e66165;

}


@media (max-width:500px){
    .navigation ul {
        display: block;
    }
    .navigation a{
        color: black;
        box-sizing: border-box;
    }
    .navigation li{
        margin-top: 20px;
    }
    .navigation a:hover,
    .navigation a:active{
        color: blueviolet;
        border-bottom: 0px;
        background-color: transparent;
    }
}