.modal{
    position: fixed;
    width: 70%;
    height: 370px;
    top: 30%;
    left: 16%;
    border:1px solid whitesmoke;
    box-shadow: 1px 1px 1px black;
    padding: 16px;
    box-sizing: border-box;
    z-index: 500;
    background-color: white;
    display: block;
    transition: all .40s ease-out;
}
@media (max-width:500px){
    .modal p h1{
        font-size: 35px;
    }
}
button{
    margin-left: 20px;
}