.form{
    margin: auto;
    width: 600px;
    background-color: rgb(85, 117, 236);
    height: 370px;
    border-radius: 8px;
    margin-top: 100px;
}
.form h1{
    font-size: 36px;
    border-radius: 8px;
    text-align: center;
    background-color: rgb(101, 132, 245);
    color: white;
    margin-top: 0px;
    height: 75px;
    padding: 10px;
}
.form label{
    color: white;
    font-size: 22px;
    margin-left: 40px;
    margin-right: 20px;
}
.form input{
    margin-left: 40px;
    margin-right: 20px;
    width: 84%;
    border-radius: 5px;
    height: 35px;
    margin-top: 4px;
    margin-bottom: 10px;
    outline: none;
}

.form input:focus{
    outline: none;
    border:3px solid #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
}

.form button{
    margin-top: 20px;
    background-color: #a5bbdc;
    width: 100px;
    height: 40px;
    outline: none;
    text-align: center;
    margin-left: 245px;
    border-radius: 5px;
    margin-top: 30px;
}
.form button:hover,.form button:active{
    background-color: darkslateblue;
}